html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  padding: 0 15vw;
  background: repeating-linear-gradient(
    to right,
    #dc006718 0%,
    #ffffff 20%,
    #dc006718 40%
  );
}

header {
  display: flex;
  flex-direction: row;
  padding: 2vh 0;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  gap: 10px;
  a {
    color: #f5f5f5;
    padding: 15px 30px;
    background-color: #dc0067;
    border-radius: 15px;
    text-align: center;
    transition: 0.2s all ease-in-out;
  }
  a:hover {
    filter: brightness(0.8);
  }
}

footer {
  padding: 0 20vw;
  text-align: center;
  padding-bottom: 50px;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
    }
  }
  a:hover {
    opacity: 0.7;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  max-width: max-content;
  flex-grow: 1;
  margin-left: auto;
  align-content: right;
  display: flex;
  align-items: center;
  gap: 16px;
  a {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: 0.2s all ease-in-out;
  }
  a:hover {
    border-bottom: 3px solid black;
  }
}

main {
  padding: 2vw;
  margin: auto;
}

#hero {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 20vh;
  gap: 32px;
  span {
    max-width: 60%;
  }
}

.segment {
  padding-top: 20vh;
  width: 100%;
  max-width: 1400px;
  font-size: 1.5em;
  h3 {
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: #dc0067;
    text-decoration-thickness: 0.2em;
    transition: 0.2s all ease-in-out;
  }
  h3:hover {
    text-decoration-color: rgba(153, 153, 153, 0.5);
  }
}

// Mobile
@media (max-width: 1100px) {
  body {
    padding: 2em 5vw;
  }

  #hero {
    flex-direction: column;
    span {
      max-width: 100%;
    }
  }

  h1 {
    text-align: center;
    img {
      display: none;
    }
  }

  header,
  nav {
    margin: 0;
    flex-flow: column nowrap;
    align-items: center;
  }

  footer {
    ul {
      flex-direction: column;
      padding-left: 0;
    }
  }
}
